@model IEnumerable<BTL.Models.article>
<div class="football">
    <div class="category">
        <h2><a href="#"><span>Bóng đá</span></a></h2>
    </div>
    <div class="slide-content">
        @for (int i = 0; i < Math.Ceiling(Model.Count() / 3 * 1.0); i++)
        {
            <div>
                @for (int j = i * 3; j < i * 3 + 3 && j < Model.Count(); j++)
                {
                    var time = DateTime.Now - @Model.ElementAt(j).createAt;
                    var displayTime = "";
                    if (time.Days == 0)
                        if (time.Hours == 0)
                            displayTime = (int)time.TotalMinutes + " phút trước";
                        else
                            displayTime = (int)time.TotalHours + " giờ trước";
                    else
                        displayTime = (int)time.TotalDays + " ngày trước";
                    <div class="slide">
                        <div class="right-img-container"><a href="/detail/@Model.ElementAt(j).id"><img class="sidebar-content-img" src="~/images/@Model.ElementAt(j).thumbnail" alt=""></a></div>
                        <div class="right-title">
                            <a href="/detail/@Model.ElementAt(j).id">@Model.ElementAt(j).title</a>
                            <p>@displayTime</p>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>