<div class="football">
    <div class="category">
        <h2><a href="/detail.html"><span>Bóng đá</span></a></h2>
    </div>
    <div class="slide-content">
        <div>
            <div class="slide">
                <div class="right-img-container"><a href="/detail.html"><img class="sidebar-content-img" src="https://vcdn1-dulich.vnecdn.net/2021/07/16/1-1626437591.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=BWzFqMmUWVFC1OfpPSUqMA" alt=""></a></div>
                <div class="right-title">
                    <a href="/detail.html">Lễ tưởng niệm Lễ tưởng niệm đồng bào tử vong vì đại dịch Covid-19</a>
                    <p>2 giờ</p>
                </div>
            </div>
            <div class="slide">
                <div class="right-img-container"><a href="/detail.html"><img class="sidebar-content-img" src="https://vcdn1-dulich.vnecdn.net/2021/07/16/1-1626437591.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=BWzFqMmUWVFC1OfpPSUqMA" alt=""></a></div>
                <div class="right-title">
                    <a href="/detail.html">đồng bào tử vong</a>
                    <p>2 giờ</p>
                </div>
            </div>
            <div class="slide">
                <div class="right-img-container"><a href="/detail.html"><img class="sidebar-content-img" src="https://vcdn1-dulich.vnecdn.net/2021/07/16/1-1626437591.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=BWzFqMmUWVFC1OfpPSUqMA" alt=""></a></div>
                <div class="right-title">
                    <a href="/detail.html">vì đại dịch Covid-19</a>
                    <p>2 giờ</p>
                </div>
            </div>
        </div>
        <div>
            <div class="slide">
                <div class="right-img-container"><a href="/detail.html"><img class="sidebar-content-img" src="https://vcdn1-dulich.vnecdn.net/2021/07/16/1-1626437591.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=BWzFqMmUWVFC1OfpPSUqMA" alt=""></a></div>
                <div class="right-title">
                    <a href="/detail.html">Lễ tưởng niệm Lễ tưởng niệm đồng bào tử vong vì đại dịch Covid-19</a>
                    <p>2 giờ</p>
                </div>
            </div>
            <div class="slide">
                <div class="right-img-container"><a href="/detail.html"><img class="sidebar-content-img" src="https://vcdn1-dulich.vnecdn.net/2021/07/16/1-1626437591.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=BWzFqMmUWVFC1OfpPSUqMA" alt=""></a></div>
                <div class="right-title">
                    <a href="/detail.html">đồng bào tử vong</a>
                    <p>2 giờ</p>
                </div>
            </div>
            <div class="slide">
                <div class="right-img-container"><a href="/detail.html"><img class="sidebar-content-img" src="https://vcdn1-dulich.vnecdn.net/2021/07/16/1-1626437591.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=BWzFqMmUWVFC1OfpPSUqMA" alt=""></a></div>
                <div class="right-title">
                    <a href="/detail.html">vì đại dịch Covid-19</a>
                    <p>2 giờ</p>
                </div>
            </div>
        </div>
        <div>
            <div class="slide">
                <div class="right-img-container"><a href="/detail.html"><img class="sidebar-content-img" src="https://vcdn1-dulich.vnecdn.net/2021/07/16/1-1626437591.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=BWzFqMmUWVFC1OfpPSUqMA" alt=""></a></div>
                <div class="right-title">
                    <a href="/detail.html">Lễ tưởng niệm Lễ tưởng niệm đồng bào tử vong vì đại dịch Covid-19</a>
                    <p>2 giờ</p>
                </div>
            </div>
            <div class="slide">
                <div class="right-img-container"><a href="/detail.html"><img class="sidebar-content-img" src="https://vcdn1-dulich.vnecdn.net/2021/07/16/1-1626437591.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=BWzFqMmUWVFC1OfpPSUqMA" alt=""></a></div>
                <div class="right-title">
                    <a href="/detail.html">đồng bào tử vong</a>
                    <p>2 giờ</p>
                </div>
            </div>
            <div class="slide">
                <div class="right-img-container"><a href="/detail.html"><img class="sidebar-content-img" src="https://vcdn1-dulich.vnecdn.net/2021/07/16/1-1626437591.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=BWzFqMmUWVFC1OfpPSUqMA" alt=""></a></div>
                <div class="right-title">
                    <a href="/detail.html">vì đại dịch Covid-19</a>
                    <p>2 giờ</p>
                </div>
            </div>
        </div>
    </div>
</div>