<div>
    <div class="right">
        <div class="right-img-container"><a href="/detail.html"><img class="sidebar-content-img" src="https://i1-thethao.vnecdn.net/2021/12/11/1-1639196802-1639196837-6790-1639196858.jpg?w=680&h=408&q=100&dpr=1&fit=crop&s=alLAo-FZSjQpT6E6CRounA" alt=""></a></div>
        <div class="right-title">
            <a href="/detail.html">Nadal không dự ATP Cup cùng Djokovic</a>
            <p>2 giờ</p>
        </div>
    </div>

    <div class="right">
        <div class="right-img-container"><a href="/detail.html"><img class="sidebar-content-img" src="https://i1-thethao.vnecdn.net/2021/12/12/poirier-2-1639307215-2694-1639307965.jpg?w=300&h=180&q=100&dpr=1&fit=crop&s=eU-jE7upvqDnylnCwmmzFg" alt=""></a></div>
        <div class="right-title">
            <a href="/detail.html">Poirier lại thua trận tranh đai vô địch</a>
            <p>8 giờ</p>
        </div>
    </div>

    <div class="right">
        <div class="right-img-container"><a href="/detail.html"><img class="sidebar-content-img" src="https://i1-thethao.vnecdn.net/2021/12/11/carlsen-firouzja-1639199453-16-6482-2783-1639199940.png?w=300&h=180&q=100&dpr=1&fit=crop&s=QSxE6uGMk6ZqyTAWPg9H3w" alt=""></a></div>
        <div class="right-title">
            <a href="/detail.html">Lễ tưởng niệm đồng bào tử vong vì đại dịch Covid-19</a>
            <p>12 giờ</p>
        </div>
    </div>

    <div class="right">
        <div class="right-img-container"><a href="/detail.html"><img class="sidebar-content-img" src="https://vcdn1-dulich.vnecdn.net/2021/07/16/1-1626437591.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=BWzFqMmUWVFC1OfpPSUqMA" alt=""></a></div>
        <div class="right-title">
            <a href="/detail.html">Vua cờ Carlsen: 'Firouzja là động lực lớn nhất của tôi'</a>
            <p>9 giờ</p>
        </div>
    </div>

    <div class="right">
        <div class="right-img-container"><a href="/detail.html"><img class="sidebar-content-img" src="https://i1-thethao.vnecdn.net/2021/12/05/1000-1-jpeg-1638684858-9987-1638684867.jpg?w=300&h=180&q=100&dpr=1&fit=crop&s=GbsKSPi8qvJymaAmwkF9tQ" alt=""></a></div>
        <div class="right-title">
            <a href="/detail.html">Morikawa rộng cửa lên số một thế giới</a>
            <p>10 giờ</p>
        </div>
    </div>

    <div class="right">
        <div class="right-img-container"><a href="/detail.html"><img class="sidebar-content-img" src="https://i1-thethao.vnecdn.net/2021/11/15/Untitled-7460-1636954674.jpg?w=300&h=180&q=100&dpr=1&fit=crop&s=AO19fPcO5eAbaqlE7jBD9g" alt=""></a></div>
        <div class="right-title">
            <a href="/detail.html">Valentino Rossi hoàn thành chặng cuối MotoGP</a>
            <p>2 giờ</p>
        </div>
    </div>

    <div class="right">
        <div class="right-img-container"><a href="/detail.html"><img class="sidebar-content-img" src="https://i1-thethao.vnecdn.net/2021/12/13/screen-shot-2021-12-13-at-6-15-3022-4049-1639351077.png?w=220&h=132&q=100&dpr=1&fit=crop&s=hZ28qpDZ3nTYxROIYWmS3g" alt=""></a></div>
        <div class="right-title">
            <a href="/detail.html">Real hơn Barca 18 điểm</a>
            <p>21 giờ</p>
        </div>
    </div>
</div>