@model IEnumerable<BTL.Models.article>


@foreach (var item in Model)
{
    var time = DateTime.Now - item.createAt;
    var displayTime = "";
    if (time.Days == 0)
    {
        if (time.Hours == 0)
        {
            displayTime = (int)time.TotalMinutes + " phút trước";
        }
        else
        {
            displayTime = (int)time.TotalHours + " giờ trước";
        }

    }
    else
    {
        displayTime = (int)time.TotalDays + " ngày trước";
    }

    <div class="other-content">
        <div class="other-img-container rounded"><a href="/detail/@item.id"><img class="other-content-img rounded" src="~/images/@item.thumbnail" alt=""></a></div>
        <div class="other-title">
            <a href="/detail/@item.id">@item.title</a>
            <p>@displayTime</p>
        </div>
    </div>
}

