<div class="main-content">
    <div class="main-img-container"><a href="/detail.html"><img class="main-content-img rounded" src="https://vcdn1-dulich.vnecdn.net/2021/07/16/1-1626437591.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=BWzFqMmUWVFC1OfpPSUqMA" alt=""></a></div>
    <div class="main-content-title">
        <a href="/detail.html">Lễ tưởng niệm đồng bào tử vong vì đại dịch Covid-19</a>
        <p>2 giờ</p>
    </div>
</div>
<div class="main-content-below">
    <div>
        <div class="img-container"><a href="/detail.html"><img class="content-below rounded" src="https://vcdn1-dulich.vnecdn.net/2021/07/16/1-1626437591.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=BWzFqMmUWVFC1OfpPSUqMA" alt=""></a></div>
        <div class="title">
            <a href="/detail.html">Lễ tưởng niệm đồng bào tử vong vì đại dịch Covid-19</a>
            <p>2 giờ</p>
        </div>
    </div>
    <div>
        <div class="img-container"><a href="/detail.html"><img class="content-below rounded" src="https://vcdn1-dulich.vnecdn.net/2021/07/16/1-1626437591.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=BWzFqMmUWVFC1OfpPSUqMA" alt=""></a></div>
        <div class="title">
            <a href="/detail.html">Lễ tưởng niệm đồng bào tử vong vì đại dịch Covid-19</a>
            <p>2 giờ</p>
        </div>
    </div>
    <div>
        <div class="img-container"><a href="/detail.html"><img class="content-below rounded" src="https://vcdn1-dulich.vnecdn.net/2021/07/16/1-1626437591.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=BWzFqMmUWVFC1OfpPSUqMA" alt=""></a></div>
        <div class="title">
            <a href="/detail.html">Lễ tưởng niệm đồng bào tử vong vì đại dịch Covid-19</a>
            <p>2 giờ</p>
        </div>
    </div>
</div>