<div class="other">
    <div class="other-content">
        <div class="other-img-container rounded"><a href="/detail.html"><img class="other-content-img rounded" src="https://vcdn1-dulich.vnecdn.net/2021/07/16/1-1626437591.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=BWzFqMmUWVFC1OfpPSUqMA" alt=""></a></div>
        <div class="other-title">
            <a href="/detail.html">Lễ tưởng niệm đồng bào tử vong vì đại dịch Covid-19</a>
            <p>2 giờ</p>
        </div>
    </div>

    <div class="other-content">
        <div class="other-img-container rounded"><a href="/detail.html"><img class="other-content-img rounded" src="https://vcdn1-dulich.vnecdn.net/2021/07/16/1-1626437591.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=BWzFqMmUWVFC1OfpPSUqMA" alt=""></a></div>
        <div class="other-title">
            <a href="/detail.html">Những chương trình trực tuyến đặc sắc kỷ niệm Ngày Nhà giáo Việt Nam </a>
            <p>2 giờ</p>
        </div>
    </div>

    <div class="other-content">
        <div class="other-img-container rounded"><a href="/detail.html"><img class="other-content-img rounded" src="https://vcdn1-dulich.vnecdn.net/2021/07/16/1-1626437591.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=BWzFqMmUWVFC1OfpPSUqMA" alt=""></a></div>
        <div class="other-title">
            <a href="/detail.html">Lễ tưởng niệm đồng bào tử vong vì đại dịch Covid-19</a>
            <p>2 giờ</p>
        </div>
    </div>

    <div class="other-content">
        <div class="other-img-container rounded"><a href="/detail.html"><img class="other-content-img rounded" src="https://vcdn1-dulich.vnecdn.net/2021/07/16/1-1626437591.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=BWzFqMmUWVFC1OfpPSUqMA" alt=""></a></div>
        <div class="other-title">
            <a href="/detail.html">Lễ tưởng niệm đồng bào tử vong vì đại dịch Covid-19</a>
            <p>2 giờ</p>
        </div>
    </div>

    <div class="other-content">
        <div class="other-img-container rounded"><a href="/detail.html"><img class="other-content-img rounded" src="https://vcdn1-dulich.vnecdn.net/2021/07/16/1-1626437591.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=BWzFqMmUWVFC1OfpPSUqMA" alt=""></a></div>
        <div class="other-title">
            <a href="/detail.html">Lễ tưởng niệm đồng bào tử vong vì đại dịch Covid-19</a>
            <p>2 giờ</p>
        </div>
    </div>

    <div class="other-content">
        <div class="other-img-container rounded"><a href="/detail.html"><img class="other-content-img rounded" src="https://vcdn1-dulich.vnecdn.net/2021/07/16/1-1626437591.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=BWzFqMmUWVFC1OfpPSUqMA" alt=""></a></div>
        <div class="other-title">
            <a href="/detail.html">Lễ tưởng niệm đồng bào tử vong vì đại dịch Covid-19</a>
            <p>2 giờ</p>
        </div>
    </div>

    <div class="other-content">
        <div class="other-img-container rounded"><a href="/detail.html"><img class="other-content-img rounded" src="https://vcdn1-dulich.vnecdn.net/2021/07/16/1-1626437591.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=BWzFqMmUWVFC1OfpPSUqMA" alt=""></a></div>
        <div class="other-title">
            <a href="/detail.html">Lễ tưởng niệm đồng bào tử vong vì đại dịch Covid-19</a>
            <p>2 giờ</p>
        </div>
    </div>

    <div class="other-content">
        <div class="other-img-container rounded"><a href="/detail.html"><img class="other-content-img rounded" src="https://vcdn1-dulich.vnecdn.net/2021/07/16/1-1626437591.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=BWzFqMmUWVFC1OfpPSUqMA" alt=""></a></div>
        <div class="other-title">
            <a href="/detail.html">Lễ tưởng niệm đồng bào tử vong vì đại dịch Covid-19</a>
            <p>2 giờ</p>
        </div>
    </div>

    <div class="other-content">
        <div class="other-img-container rounded"><a href="/detail.html"><img class="other-content-img rounded" src="https://vcdn1-dulich.vnecdn.net/2021/07/16/1-1626437591.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=BWzFqMmUWVFC1OfpPSUqMA" alt=""></a></div>
        <div class="other-title">
            <a href="/detail.html">Lễ tưởng niệm đồng bào tử vong vì đại dịch Covid-19</a>
            <p>2 giờ</p>
        </div>
    </div>

    <div class="other-content">
        <div class="other-img-container rounded"><a href="/detail.html"><img class="other-content-img rounded" src="https://vcdn1-dulich.vnecdn.net/2021/07/16/1-1626437591.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=BWzFqMmUWVFC1OfpPSUqMA" alt=""></a></div>
        <div class="other-title">
            <a href="/detail.html">Lễ tưởng niệm đồng bào tử vong vì đại dịch Covid-19</a>
            <p>2 giờ</p>
        </div>
    </div>

    <div class="other-content">
        <div class="other-img-container rounded"><a href="/detail.html"><img class="other-content-img rounded" src="https://vcdn1-dulich.vnecdn.net/2021/07/16/1-1626437591.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=BWzFqMmUWVFC1OfpPSUqMA" alt=""></a></div>
        <div class="other-title">
            <a href="/detail.html">Lễ tưởng niệm đồng bào tử vong vì đại dịch Covid-19</a>
            <p>2 giờ</p>
        </div>
    </div>

    <div class="other-content">
        <div class="other-img-container rounded"><a href="/detail.html"><img class="other-content-img rounded" src="https://vcdn1-dulich.vnecdn.net/2021/07/16/1-1626437591.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=BWzFqMmUWVFC1OfpPSUqMA" alt=""></a></div>
        <div class="other-title">
            <a href="/detail.html">Lễ tưởng niệm đồng bào tử vong vì đại dịch Covid-19</a>
            <p>2 giờ</p>
        </div>
    </div>
    <div class="other-content">
        <div class="other-img-container rounded"><a href="/detail.html"><img class="other-content-img rounded" src="https://vcdn1-dulich.vnecdn.net/2021/07/16/1-1626437591.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=BWzFqMmUWVFC1OfpPSUqMA" alt=""></a></div>
        <div class="other-title">
            <a href="/detail.html">Lễ tưởng niệm đồng bào tử vong vì đại dịch Covid-19</a>
            <p>2 giờ</p>
        </div>
    </div>

    <div class="other-content">
        <div class="other-img-container rounded"><a href="/detail.html"><img class="other-content-img rounded" src="https://vcdn1-dulich.vnecdn.net/2021/07/16/1-1626437591.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=BWzFqMmUWVFC1OfpPSUqMA" alt=""></a></div>
        <div class="other-title">
            <a href="/detail.html">Lễ tưởng niệm đồng bào tử vong vì đại dịch Covid-19</a>
            <p>2 giờ</p>
        </div>
    </div>

</div>

