

<div class="video">
    <div class="category">
        <h2><a href="/detail.html"><span>VIDEO</span></a></h2>
    </div>
    <div class="video-content">
        <div class="video-container">
            <div class="video-img-container rounded">
                <div class="thumbnail"><a href="/detail.html"><img class="video-content-img" src="https://i1-thethao.vnecdn.net/2021/12/13/ScreenShot20211213at61442AM-16-2200-2732-1639353920.png?w=300&h=180&q=100&dpr=1&fit=crop&s=BiD2C4arwTtsx8UaSXeYag" alt=""></a></div>
            </div>
            <div class="video-title">
                <a href="/detail.html">Real 2-0 Atletico Madrid</a>
                <p>1 giờ</p>
            </div>
        </div>
        <div class="video-container">
            <div class="video-img-container rounded">
                <div class="thumbnail"><a href="/detail.html"><img class="video-content-img" src="https://i1-thethao.vnecdn.net/2021/12/12/baa0702b5f9494cacd85-163932297-1197-9844-1639323382.jpg?w=300&h=180&q=100&dpr=1&fit=crop&s=e9rKK7BzbHbPdzsbGvS0RQ" alt=""></a></div>
            </div>
            <div class="video-title">
                <a href="/detail.html">Việt Nam 3-0 Malaysia</a>
                <p>5 giờ</p>
            </div>
        </div>
        <div class="video-container">
            <div class="video-img-container rounded">
                <div class="thumbnail"><a href="/detail.html"><img class="video-content-img" src="https://i1-thethao.vnecdn.net/2021/12/13/nico-efe-goal-jpeg-5197-163933-1245-5641-1639355178.jpg?w=300&h=180&q=100&dpr=1&fit=crop&s=oAr-T13xE-hd5rDgfXjqFQ" alt=""></a></div>
            </div>
            <div class="video-title">
                <a href="/detail.html">Osasuna 2-2 Barca</a>
                <p>3 giờ</p>
            </div>
        </div>
    </div>
</div>