

<div class="video">
    <div class="category">
        <h2><a href="/detail.html"><span>VIDEO</span></a></h2>
    </div>
    <div class="video-content">
        <div class="video-container">
            <div class="video-img-container rounded">
                <div class="thumbnail"><a href="/detail.html"><img class="video-content-img" src="https://photo-baomoi.zadn.vn/w300_r4x3/2021_11_23_119_40978543/42fff0c74885a1dbf894.jpg" alt=""></a></div>
            </div>
            <div class="video-title">
                <a href="/detail.html">Terence Crawford đã làm thế nào để đánh bại Shawn Porter - người từng vượt qua Oleksandr Usyk trong quá Khứ?</a>
                <p>2 giờ</p>
            </div>
        </div>
        <div class="video-container">
            <div class="video-img-container rounded">
                <div class="thumbnail"><a href="/detail.html"><img class="video-content-img" src="https://photo-baomoi.zadn.vn/w300_r4x3/2021_11_23_119_40978543/42fff0c74885a1dbf894.jpg" alt=""></a></div>
            </div>
            <div class="video-title">
                <a href="/detail.html">Terence Crawford đã làm thế nào để đánh bại Shawn Porter - người từng vượt qua Oleksandr Usyk trong quá Khứ?</a>
                <p>2 giờ</p>
            </div>
        </div>
        <div class="video-container">
            <div class="video-img-container rounded">
                <div class="thumbnail"><a href="/detail.html"><img class="video-content-img" src="https://photo-baomoi.zadn.vn/w300_r4x3/2021_11_23_119_40978543/42fff0c74885a1dbf894.jpg" alt=""></a></div>
            </div>
            <div class="video-title">
                <a href="/detail.html">Terence Crawford đã làm thế nào để đánh bại Shawn Porter - người từng vượt qua Oleksandr Usyk trong quá Khứ?</a>
                <p>2 giờ</p>
            </div>
        </div>
    </div>
</div>