
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Dashboard</h2>
<label>Tháng</label>
<select id="month">
    @for (int i = 1; i <= 12; i++)
    {
        <option value="@i" @if (DateTime.Now.Month == i) {<text>selected</text>}>@i</option>
    }
</select>
<label>Năm</label>
<select id="year">
    @for (int i = 2010; i <= DateTime.Now.Year; i++)
    {
        <option value="@i" @if (DateTime.Now.Year == i) { <text> selected</text>}>@i</option>
    }
</select>
<canvas id="myChart"></canvas>
