@using BTL.Models
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SportsNews Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Content/admin/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/Content/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/Content/admin/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Content/admin/vendors/"/>
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/Content/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/Content/admin/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/Content/admin/js/select.dataTables.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Content/admin/css/vertical-layout-light/style.css">

</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo mr-5" href="/"><img src="~/Content/logo.svg" class="mr-2" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" href="/"><img src="~/Content/logo.svg" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">               
                <ul class="navbar-nav mr-lg-2">
                    <li class="nav-item nav-search d-none d-lg-block">
                        <div class="input-group">
                            <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                                <span class="input-group-text" id="search">
                                    <i class="icon-search"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                            <i class="icon-bell mx-0"></i>
                            <span class="count"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                            <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-success">
                                        <i class="ti-info-alt mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-normal">Application Error</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        Just now
                                    </p>
                                </div>
                            </a>
                            
                        </div>
                    </li>
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <img src="@(((administrative)Session["USER"]).img)" alt="profile" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                            <a class="dropdown-item">
                                <i class="ti-settings text-primary"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="/logout">
                                <i class="ti-power-off text-primary"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                    
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="icon-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas">
                <nav class="sidebar sidebar-offcanvas" id="sidebar">
                    <div class="navbar-toggler custom-toggle" type="button" data-toggle="minimize">
                        <i class="fas fa-chevron-left"></i>
                    </div>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">
                                <i class="icon-grid menu-icon"></i>
                                <span class="menu-title">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#article" aria-expanded="false" aria-controls="article">
                                <i class="far fa-newspaper menu-icon"></i>
                                <span class="menu-title">Quản Lý Bài Viết</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="article">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="/articles/create">Tạo Bài Viết Mới</a></li>
                                    <li class="nav-item"> <a class="nav-link" href="/articles">Danh Sách Bài Viết</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#category" aria-expanded="false" aria-controls="category">
                                <i class="icon-columns menu-icon"></i>
                                <span class="menu-title">Quản Lý Danh Mục</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="category">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="/categories">Danh Sách Danh Mục</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#journalist" aria-expanded="false" aria-controls="journalist">
                                <i class="fas fa-user-edit menu-icon"></i>
                                <span class="menu-title">Quản Lý Nhà Báo</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="journalist">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="/journalists">Danh Sách Nhà Báo</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#reader" aria-expanded="false" aria-controls="reader">
                                <i class="fas fa-book-reader menu-icon"></i>
                                <span class="menu-title">Quản Lý Bạn Đọc</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="reader">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="/users">Danh Sách Bạn Đọc</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#account">
                                <i class="fas fa-user-plus menu-icon"></i>
                                <span class="menu-title">Tạo tài khoản mới</span>
                                <i class="menu-arrow"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.. All rights reserved.</span>
                        
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/Content/admin/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/Content/admin/vendors/chart.js/Chart.min.js"></script>
    <script src="~/Content/admin/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/Content/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="~/Content/admin/js/dataTables.select.min.js"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/Content/admin/js/off-canvas.js"></script>
    <script src="~/Content/admin/js/hoverable-collapse.js"></script>
    <script src="~/Content/admin/js/template.js"></script>
    <script src="~/Content/ckeditor5/ckeditor.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/Content/admin/js/dashboard.js"></script>
    <script src="~/Content/admin/js/Chart.roundedBarCharts.js"></script>
    <script src="~/Content/admin/js/admincustom.js"></script>
    <!-- End custom js for this page-->
</body>

</html>

